<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置springmvc
    简化配置，自动注册DefalutAnnotationHandlerMapping,AnnotationMethodHandlerAdapter
                提供给一系列：数据绑定 ，数字和日期的format @NumberFormat,@DateTimeFormat,xml,json默认读写支持-->
    <mvc:annotation-driven/>
    <!--使用/映射路径，有一定问题-->
    <!--静态资源配置
    加入对静态资源的处理：。js.jpg....
    允许使用/做整体映射-->
    <mvc:default-servlet-handler/>
    <!--jsp配置-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--扫描web相关的bean-->
    <context:component-scan base-package="org.seckill.web" />
</beans>